 body {
            font-family: 'Lato', Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        #todo-app {
            text-align: center;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #333;
        }

        input[type="text"] {
            padding: 10px;
            font-size: 16px;
            width: 60%;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-family: 'Lato', Arial, sans-serif;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #45a049;
        }

        ul {
            list-style-type: none;
            padding: 0;
            max-height: 300px; /* Set maximum height for the task list */
            overflow-y: auto; /* Enable vertical scrollbar when content exceeds the height */
        }

        li {
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: background-color 0.3s, color 0.3s, opacity 0.3s;
        }

        li span {
            flex-grow: 1;
            cursor: pointer;
            text-decoration: none;
            transition: text-decoration 0.3s;
            font-family: 'Lato', Arial, sans-serif;
            font-size: 18px;
        }

        li.completed {
            background-color: #e0e0e0;
            opacity: 0.6;
        }

        li.completed span {
            text-decoration: line-through;
        }

        li input[type="checkbox"] {
            margin-right: 10px;
        }

        li input[type="text"] {
            flex-grow: 1;
            padding: 8px;
            font-size: 16px;
            display: none;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-family: 'Lato', Arial, sans-serif;
        }

        .delete-btn, .edit-btn {
            border: none;
            padding: 5px 10px;
            border-radius: 3px;
            cursor: pointer;
            color: #fff;
            font-family: 'Lato', Arial, sans-serif;
            font-size: 16px;
        }

        .delete-btn {
            background-color: #ff4d4d;
        }

        .edit-btn {
            background-color: #ffac33;
            margin-right: 5px;
        }